
{% extends 'layout.html' %}

{% block breadcrumbs %}
 <ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Settings</li>
</ol>
{% endblock %}

{% block content %}

    <script type="text/javascript">
        function verifyMatch(settingId){
            if (document.getElementById(settingId).value != document.getElementById(settingId + '_2').value)
            {
                alert('Values entered for ' + settingId + ' do not match, please fix');
                return false;
            }
            return true;
        }
        
        function submitForm(){
{% for setting in settings %}
    {% if setting.masked %}
            if (!verifyMatch('{{ setting.key }}')){
                return false;
            }
    {% endif %}
{% endfor %}
            
            document.getElementById('formSettings').submit();
            return false;
        }
    </script>

    <div id="content" class="container-fluid">

        <div id="content-main">
            <h3>Settings</h3>
        <hr />
            <div>
                <form class="form-horizontal" id="formSettings" name="formSettings" method="POST">{% csrf_token %}
                    {% for setting in settings %}
                        <div class="form-group">
                            <label class="col-md-2 control-label">{{ setting.key }}</label>
                            <div class="col-md-10">
                                {% if setting.type == 'check' %}
                                <input name="key_{{ setting.key }}" id="{{ setting.key }}" type="checkbox" name="newFieledName" value="1" {% if setting.value == '1' %}checked{% endif %}/>
                                {% else %}
                                    {% if setting.masked %}
                                    <span><input name="key_{{ setting.key }}" id="{{ setting.key }}" type="password" name="newFieledName" value=""/></span><span style="vertical-align:middle;">&nbsp;Repeat:</span><span><input name="key_{{ setting.key }}_2" id="{{ setting.key }}_2" type="password" name="newFieledName" value=""/></span><br>
                                    * Only Enter if you want to change it
                                    {% else %}
                                    <input name="key_{{ setting.key }}" id="{{ setting.key }}" type="text" name="newFieledName" value="{{ setting.value }}"/>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}

                        <tr>
                            <td scope="row">Configuration Wizards</td>
                            <td>
                                <ul>
                                    {% if rally_enabled or agilezen_enabled %}
                                    <li><a id="select-projects" href="/rally_projects/">Select Projects</a></li>
                                    {% endif %}
                                </ul>
                            </td>
                        </tr>
                    </table>
                    <hr />
                    <div style="padding:5px;">
                        <button id="save-button" type="button" class="btn btn-primary" name="saveConfig" onclick="return submitForm();">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



{% endblock %}
