
{% extends 'layout.html' %}

{% block breadcrumbs %}
<a href="/">Home</a> -> Settings
{% endblock %}

{% block content %}

    <script type="text/javascript">
        function verifyMatch(settingId){
            if (document.getElementById(settingId).value != document.getElementById(settingId + '_2').value)
            {
                alert('Values entered for ' + settingId + ' do not match, please fix');
                return false;
            }
            return true;
        }
        
        function submitForm(){
{% for setting in settings %}
    {% if setting.masked %}
            if (!verifyMatch('{{ setting.key }}')){
                return false;
            }
    {% endif %}
{% endfor %}
            
            document.getElementById('formSettings').submit();
            return false;
        }
    </script>

    <div id="content" class="colMS">

        <div id="content-main">
            <div class="module ObjectsList">
                <form id="formSettings" name="formSettings" method="POST">{% csrf_token %}
                    <table>
                        <caption>
                            <span><a href="" class="section">Settings</a></span>
                        </caption>
                        <tr>
                            <th scope="row">Config Key</th>
                            <th>Value</th>
                        </tr>
                        {% for setting in settings %}
                        <tr>
                            <td scope="row">{{ setting.key }}</td>
                            <td>
                                {% if setting.type == 'check' %}
                                <input name="key_{{ setting.key }}" id="{{ setting.key }}" type="checkbox" name="newFieledName" value="1" {% if setting.value == '1' %}checked{% endif %}/>
                                {% else %}
                                    {% if setting.masked %}
                                    <span><input name="key_{{ setting.key }}" id="{{ setting.key }}" type="password" name="newFieledName" value=""/></span><span style="vertical-align:middle;">&nbsp;Repeat:</span><span><input name="key_{{ setting.key }}_2" id="{{ setting.key }}_2" type="password" name="newFieledName" value=""/></span><br>
                                    * Only Enter if you want to change it
                                    {% else %}
                                    <input name="key_{{ setting.key }}" id="{{ setting.key }}" type="text" name="newFieledName" value="{{ setting.value }}"/>
                                    {% endif %}
                                {% endif %}
                            </td>                            
                        </tr>
                        {% endfor %}
                        <tr>
                            <td scope="row">Configuration Wizards</td>
                            <td>
                                <ul>
                                    {% if rally_enabled or agilezen_enabled %}
                                    <li><a href="/rally_projects/">Select Projects</a></li>
                                    {% endif %}
                                </ul>
                            </td>
                        </tr>
                    </table>
                    <div style="padding:5px;">
                        <input name="saveConfig" onclick="return submitForm();" type="button" value="Save"/>
                    </div>
                </form>
            </div>
        </div>
        <br class="clear" />
    </div>



{% endblock %}
