
{% extends 'layout.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/admin/">Repos and Branches</a></li>
  <li class="active">Branch {{ type }}</li>
</ol>
{% endblock %}

{% block content %}

<script type="text/javascript">
    $(function() {
        $('#cancelButton').click(function() {
            window.location = $('#admin_menu_link').attr('href');
        });
        //$('input').addClass('form-control');
        //$('select').addClass('form-control');
    });
</script>


    <div id="content" class="container-fluid">
        <div id="content-main">
            <div class="module">
                <h2>Branch Details</h2>
                <form class="form-horizontal form-condensed form-hover" action="/{{action}}" method="post">{% csrf_token %}
                    {{ form.non_field_errors }}

                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tabs-1">General</a></li>
                    <li><a data-toggle="tab" href="#tabs-2">Code Snapshots</a></li>
                    <li><a data-toggle="tab" href="#tabs-3">Config Snapshots</a></li>
                </ul>

                <div class="tab-content">
                    <div id="tabs-1" class="tab-pane fade in active">
                        <div class="form-group">
                          <label class="col-md-2 control-label" for="{{ form.repo.id_for_label }}">Local Source Repository:</label>
                          <div class="col-md-5">
                              {{ form.repo }}
                              {{ form.repo.errors }}
                          </div>
                            <span class="help-block">Source code repository where downloaded assets are saved</span>
                        </div>
                        <div class="form-group">
                          <label class="col-md-2 control-label" for="{{ form.name.id_for_label }}">Branch Name:</label>
                          <div class="col-md-5">
                              {{ form.name }}
                              {{ form.name.errors }}
                          </div>
                          <span class="help-block">Name of this branch. Must be legal for source code revision system being used (ie. Git, Subversion, Mercurial, etc)</span>
                        </div>
                        <div class="form-group">
                          <label class="col-md-2 control-label" for="{{ form.api_store.id_for_label }}">API Storage:</label>
                          <div class="col-md-5">
                              {{ form.api_store }}
                              {{ form.api_store.errors }}
                          </div>
                          <span class="help-block">Directory where downloads will be staged for processing.  The default /tmp is fine in most cases.</span>
                        </div>
                        <div class="form-group">
                          <label class="col-md-2 control-label" for="{{ form.api_env.id_for_label }}">Salesforce Environment:</label>
                          <div class="col-md-5">
                              {{ form.api_env }}
                              {{ form.api_env.errors }}
                          </div>
                          <span class="help-block">Salesforce environment type</span>
                        </div>
                        <div class="form-group">
                          <label class="col-md-2 control-label" for="{{ form.api_user.id_for_label }}">Salesforce API User:</label>
                          <div class="col-md-5">
                              {{ form.api_user }}
                              {{ form.api_user.errors }}
                          </div>
                          <span class="help-block">Salesforce API Username</span>
                        </div>
                        <div class="form-group">
                          <label class="col-md-2 control-label" for="{{ form.api_pass.id_for_label }}">Salesforce API Password:</label>
                          <div class="col-md-5">
                              {{ form.api_pass }}
                              {{ form.api_pass.errors }}
                          </div>
                          <span class="help-block">
                                {% if type == 'Edit' %}
                                    Salesforce API Password - LEAVE BLANK TO KEEP EXISTING PASSWORD
                                    {% else %}
                                    Salesforce API Password
                                {% endif %}
                          </span>
                        </div>
                        <div class="form-group">
                          <label class="col-md-2 control-label" for="{{ form.api_pass2.id_for_label }}">Verify Password:</label>
                          <div class="col-md-5">
                              {{ form.api_pass2 }}
                              {{ form.api_pass2.errors }}
                          </div>
                          <span class="help-block">Salesforce API Password verification</span>
                        </div>
                        <div class="form-group">
                          <label class="col-md-2 control-label" for="{{ form.api_auth.id_for_label }}">Authentication token:</label>
                          <div class="col-md-5">
                              {{ form.api_auth }}
                              {{ form.api_auth.errors }}
                          </div>
                          <span class="help-block">Salesforce API authentication token, optional as needed</span>
                        </div>
                        <div class="form-group">
                          <label class="col-md-2 control-label" for="{{ form.api_pod.id_for_label }}">Salesforce Pod:</label>
                          <div class="col-md-5">
                              {{ form.api_pod }}
                              {{ form.api_pod.errors }}
                          </div>
                          <span class="help-block">Your assigned Salesforce Pod (cs1, cs4, na1, etc). You can find this value in your browser URL after logging into the environment.</span>
                        </div>
                        <div class="form-group">
                          <label class="col-md-2 control-label" for="{{ form.enabled.id_for_label }}">Branch Enabled:</label>
                          <div class="col-md-5">
                              {{ form.enabled }}
                              {{ form.enabled.errors }}
                          </div>
                          <span class="help-block">Whether or not this branch is active. If inactive, no cron jobs will run</span>
                        </div>
                        <div class="form-group">
                          <label class="col-md-2 control-label" for="{{ form.order.id_for_label }}">UI Order:</label>
                          <div class="col-md-5">
                              {{ form.order }}
                              {{ form.order.errors }}
                          </div>
                          <span class="help-block">Ordering used when listing branches in the manifest</span>
                        </div>
                        <div class="form-group">
                          <label class="col-md-2 control-label" for="{{ form.api_assets.id_for_label }}">Salesforce Assets:</label>
                          <div class="col-md-3">
                              {{ form.api_assets }}
                              {{ form.api_assets.errors }}
                          </div>
                          <span class="help-block">Salesforce configuration assets to download.</span>
                        </div>

                    </div>


                    <div id="tabs-2" class="tab-pane fade">
                        <div class="form-group">
                          <label class="col-md-2 control-label" for="{{ form.code_cron_enabled.id_for_label }}">Code cron enabled:</label>
                          <div class="col-md-3">
                              {{ form.code_cron_enabled }}
                              {{ form.code_cron_enabled.errors }}
                          </div>
                          <span class="help-block">Whether or not we should schedule code snapshots of this environment</span>
                        </div>
                        <div class="form-group">
                          <label class="col-md-2 control-label" for="{{ form.code_cron_type.id_for_label }}">Code cron type:</label>
                          <div class="col-md-3">
                              {{ form.code_cron_type }}
                              {{ form.code_cron_type.errors }}
                          </div>
                          <span class="help-block">Type of cron job (Hourly only supported at this time). You can manually change
                                    the cron job yourself for finer levels of control.</span>
                        </div>
                        <div class="form-group">
                          <label class="col-md-2 control-label" for="{{ form.code_cron_interval.id_for_label }}">Code cron interval:</label>
                          <div class="col-md-3">
                              {{ form.code_cron_interval }}
                              {{ form.code_cron_interval.errors }}
                          </div>
                          <span class="help-block">How often to run <br />
                                    ex. if type=Hourly, Interval=3, then run every 3 hours <br />
                                    ex. if type=Hourly, Interval=1 then run every hour<br /></span>
                        </div>
                        <div class="form-group">
                          <label class="col-md-2 control-label" for="{{ form.code_cron_start.id_for_label }}">Code cron start:</label>
                          <div class="col-md-3">
                              {{ form.code_cron_start }}
                              {{ form.code_cron_start.errors }}
                          </div>
                          <span class="help-block">When to start, relative to the type. If type is Hourly, Start is in minutes. If type is Daily, Start is an actual time value. <br />
                                    ex. if type=Hourly, Interval=1, Start=15, then run every hour at 15 past the hour
                          </span>
                        </div>
                    </div>


                    <div id="tabs-3" class="tab-pane fade">
                        <div class="form-group">
                          <label class="col-md-2 control-label" for="{{ form.cron_enabled.id_for_label }}">Config cron enabled:</label>
                          <div class="col-md-3">
                              {{ form.cron_enabled }}
                              {{ form.cron_enabled.errors }}
                          </div>
                          <span class="help-block">Whether or not we should schedule config snapshots of this environment</span>
                        </div>
                        <div class="form-group">
                          <label class="col-md-2 control-label" for="{{ form.cron_type.id_for_label }}">Config cron type:</label>
                          <div class="col-md-3">
                              {{ form.cron_type }}
                              {{ form.cron_type.errors }}
                          </div>
                          <span class="help-block">Type of cron job (Hourly only supported at this time). You can manually change
                                    the cron job yourself for finer levels of control.</span>
                        </div>
                        <div class="form-group">
                          <label class="col-md-2 control-label" for="{{ form.cron_interval.id_for_label }}">Config cron interval:</label>
                          <div class="col-md-3">
                              {{ form.cron_interval }}
                              {{ form.cron_interval.errors }}
                          </div>
                          <span class="help-block">How often to run <br />
                                    ex. if type=Hourly, Interval=3, then run every 3 hours <br />
                                    ex. if type=Hourly, Interval=1 then run every hour<br /></span>
                        </div>
                        <div class="form-group">
                          <label class="col-md-2 control-label" for="{{ form.cron_start.id_for_label }}">Config cron start:</label>
                          <div class="col-md-3">
                              {{ form.cron_start }}
                              {{ form.cron_start.errors }}
                          </div>
                          <span class="help-block">When to start, relative to the type. If type is Hourly, Start is in minutes. If type is Daily, Start is an actual time value. <br />
                                    ex. if type=Hourly, Interval=1, Start=15, then run every hour at 15 past the hours
                                    </span>
                        </div>

                    </div>
                </div>

                <hr />
                <button id="save-button" class="btn btn-primary" name="action" type="submit" >Save</button>
                <button class="btn btn-primary" id="cancelButton" type="submit"  >Cancel</button>
            </form>
            </div>
        </div>
    </div>

<br />


{% endblock %}
