
{% extends 'layout.html' %}

{% block breadcrumbs %}
 <ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/admin/">Admin Menu</a></li>
  <li class="active">Edit Repo</li>
</ol>
{% endblock %}

{% block content %}

<script type="text/javascript">
    $(function() {
        $('#cancelButton').click(function() {
            window.location = $('#admin_menu_link').attr('href');
        });
    });
</script>


    <div id="content" class="container-fluid">
        <div id="content-main">
            <div class="module">
                <form class="form-horizontal form-condensed form-hover" action="/{{action}}" method="post">{% csrf_token %}

                    {{ form.non_field_errors }}
                    <div class="form-group">
                      <label class="col-md-2 control-label" for="{{ form.name.id_for_label }}">Name:</label>
                      <div class="col-md-5">
                          {{ form.name }}
                          {{ form.name.errors }}
                      </div>
                        <span class="help-block">Source code repository name/alias</span>
                    </div>
                    <!--
                    <div class="form-group">
                      <label class="col-md-2 control-label" for="{{ form.location.id_for_label }}">Location:</label>
                      <div class="col-md-5">
                          {{ form.location }}
                          {{ form.location.errors }}
                      </div>
                        <span class="help-block">Absolute path to the git repository</span>
                    </div>
-->
                    <hr />
                    <button class="btn btn-primary" name="action" type="submit">Save</button>
                    <button class="btn btn-primary" id="cancelButton" type="submit">Cancel</button>
                </form>
            </div>
        </div>
    </div>

<br />



{% endblock %}
