
{% extends 'layout.html' %}

{% block breadcrumbs %}
<a href="/">Home</a> -> <a id="admin_menu_link" href="/admin/">Admin Menu</a> -> Branch -> {{ type }}
{% endblock %}

{% block content %}

<script type="text/javascript">
    $(function() {
        $('#cancelButton').click(function() {
            window.location = $('#admin_menu_link').attr('href');
        });
    });
</script>


    <div id="content" class="colMS">
        <div id="content-main">
            <div class="module">
                <form action="/{{action}}" method="post">{% csrf_token %}

                    {{ form.non_field_errors }}

                    <table border="0">
                        <tr>
                            <td width="20%" align="right">
                                <label for="id_repo">Local Source Repository:</label>
                                {{ form.repo.errors }}
                            </td>
                            <td>
                                {{ form.repo }}
                            </td>
                            <td>
                                Source code repository where downloaded assets are saved
                            </td>
                        </tr>

                        <tr>
                            <td align="right">
                                <label for="id_name">Branch Name:</label>
                                {{ form.name.errors }}
                            </td>
                            <td>
                                {{ form.name }}
                            </td>
                            <td>
                                Name of this branch. Must be legal for source code revision system being used (ie. Git, Subversion, Mercurial, etc)
                            </td>
                        </tr>

                        <tr>
                            <td align="right">
                                <label for="id_api_store">API Storage:</label>
                                {{ form.api_store.errors }}
                            </td>
                            <td>
                                {{ form.api_store }}
                            </td>
                            <td>
                                Directory where downloads will be staged for processing.  The default /tmp is fine in most cases.
                            </td>
                        </tr>

                        <tr>
                            <td align="right">
                                <label for="id_api_env">Salesforce Environment:</label>
                                {{ form.api_env.errors }}
                            </td>
                            <td>
                                {{ form.api_env }}
                            </td>
                            <td>
                                Salesforce environment type
                            </td>
                        </tr>

                        <tr>
                            <td align="right">
                                <label for="id_api_user">Salesforce API User:</label>
                                {{ form.api_user.errors }}
                            </td>
                            <td>
                                {{ form.api_user }}
                            </td>
                            <td>
                                Salesforce API Username
                            </td>
                        </tr>
                        <tr>
                            <td align="right">
                                <label for="id_api_pass">Salesforce API Password:</label>
                                {{ form.api_pass.errors }}
                            </td>
                            <td>
                                {{ form.api_pass }}
                            </td>
                            <td>
                                {% if type = 'Edit' %}
                                Salesforce API Password - LEAVE BLANK TO KEEP EXISTING PASSWORD
                                {% else %}
                                Salesforce API Password
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td align="right">
                                <label for="id_api_pass2">Verify Password:</label>
                                {{ form.api_pass2.errors }}
                            </td>
                            <td>
                                {{ form.api_pass2 }}
                            </td>
                            <td>
                                Salesforce API Password verification
                            </td>
                        </tr>
                        <tr>
                            <td align="right">
                                <label for="id_api_auth">Salesforce API Auth Token:</label>
                                {{ form.api_auth.errors }}
                            </td>
                            <td>
                                {{ form.api_auth }}
                            </td>
                            <td>
                                Salesforce API authentication token, optional as needed.
                            </td>
                        </tr>

                        <tr>
                            <td align="right">
                                <label for="id_api_ver">Salesforce Pod:</label>
                                {{ form.api_pod.errors }}
                            </td>
                            <td>
                                {{ form.api_pod }}
                            </td>
                            <td>
                                Your assigned Salesforce Pod (cs1, cs4, na1, etc). You can find this value in your browser URL after logging into the environment.
                            </td>
                        </tr>

<!--
                        <tr>
                            <td align="right">
                                <label for="id_api_ver">Salesforce API Version:</label>
                                {{ form.api_ver.errors }}
                            </td>
                            <td>
                                {{ form.api_ver }}
                            </td>
                            <td>
                                Salesforce API version number which must match your WSDL
                            </td>
                        </tr>
-->
                        <tr>
                            <td align="right">
                                <label for="id_api_assets">Salesforce Assets:</label>
                                {{ form.api_assets.errors }}
                            </td>
                            <td>
                                {{ form.api_assets }}
                            </td>
                            <td>
                                Salesforce assets to download, store, and analyze.
                            </td>
                        </tr>

                        <tr>
                            <td align="right">
                                <label for="id_enabled">Branch Enabled:</label>
                                {{ form.enabled.errors }}
                            </td>
                            <td>
                                {{ form.enabled }}
                            </td>
                            <td>
                                Whether or not this branch is active.
                            </td>
                        </tr>

                        <tr>
                            <td align="right">
                                <label for="id_cron_type">cron Enabled:</label>
                                {{ form.cron_enabled.errors }}
                            </td>
                            <td>
                                {{ form.cron_enabled }}
                            </td>
                            <td>
                                Whether or not we should schedule snapshots of this environment.
                            </td>
                        </tr>

                        <tr>
                            <td align="right">
                                <label for="id_cron_type">cron Type:</label>
                                {{ form.cron_type.errors }}
                            </td>
                            <td>
                                {{ form.cron_type }}
                            </td>
                            <td>
                                Type of cron job (Hourly only supported at this time). You can manually change
                                the cron job yourself for finer levels of control.
                            </td>
                        </tr>

                        <tr>
                            <td align="right">
                                <label for="id_cron_interval">cron Interval:</label>
                                {{ form.cron_interval.errors }}
                            </td>
                            <td>
                                {{ form.cron_interval }}
                            </td>
                            <td>
                                How often to run <br />
                                ex. if type=Hourly, Interval=3, then run every 3 hours <br />
                                ex. if type=Hourly, Interval=1 then run every hour<br />
                            </td>
                        </tr>

                        <tr>
                            <td align="right">
                                <label for="id_cron_start">cron Start:</label>
                                {{ form.cron_start.errors }}
                            </td>
                            <td>
                                {{ form.cron_start }}
                            </td>
                            <td>
                                When to start, relative to the type. If type is Hourly, Start is in minutes. If type is Daily, Start is an actual time value. <br />
                                ex. if type=Hourly, Interval=1, Start=15, then run every hour at 15 past the hour<br />
                                ex. if type=Hourly, Interval=2, Start=0, then run every 2 hours at the top of the hour<br />
                            </td>
                        </tr>

                        <tr>
                            <td align="right">
                                <label for="id_cron_start">UI Order:</label>
                                {{ form.order.errors }}
                            </td>
                            <td>
                                {{ form.order }}
                            </td>
                            <td>
                                Ordering used when listing branches in the manifest
                            </td>
                        </tr>
                    </table>

                    <p>
                        <br />
                        <input name="action" type="submit" value="Save" />
                        <input id="cancelButton" type="button" value="Cancel" />
                    </p>
                </form>
            </div>
        </div>
    </div>

<br />


{% endblock %}
