
{% extends 'layout.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/unit_testing_admin/" id="unit_test_schedule_list_link">Unit Test Config</a> </li>
  <li class="active">Create/Edit a Unit Test Run Schedule</li>
</ol>
{% endblock %}

{% block content %}

<script type="text/javascript">
    $(function() {
        $('#cancelButton').click(function() {
            window.location = $('#unit_test_schedule_list_link').attr('href');
        });
    });
</script>


    <div id="content" class="container">
        <div id="content-main">
            <div>

                <form class="form-horizontal form-condensed form-hover" action="/{{action}}" method="post">{% csrf_token %}

                    {{ form.non_field_errors }}

                    <div class="form-group">
                      <label class="col-md-2 control-label" for="{{ form.branch.id_for_label }}">Branch Name:</label>
                      <div class="col-md-4">
                          {{ form.branch }}
                          {{ form.branch.errors }}
                      </div>
                        <span class="help-block">Pick which branch / instance this unit test run is for</span>
                    </div>
                    <div class="form-group">
                      <label class="col-md-2 control-label" for="{{ form.results_email_address.id_for_label }}">Report Email:</label>
                      <div class="col-md-4">
                          {{ form.results_email_address }}
                          {{ form.results_email_address.errors }}
                      </div>
                        <span class="help-block">Email address for testing reports</span>
                    </div>
                    <div class="form-group">
                      <label class="col-md-2 control-label" for="{{ form.email_only_failures.id_for_label }}">Report ONLY on Failures?</label>
                      <div class="col-md-4">
                          {{ form.email_only_failures }}
                          {{ form.email_only_failures.errors }}
                      </div>
                        <span class="help-block">Email out reports even if there are NO failures</span>
                    </div>
                    <div class="form-group">
                      <label class="col-md-2 control-label" for="{{ form.cron_enabled.id_for_label }}">cron Enabled?</label>
                      <div class="col-md-4">
                          {{ form.cron_enabled }}
                          {{ form.cron_enabled.errors }}
                      </div>
                        <span class="help-block">Whether or not this schedule is active</span>
                    </div>
                    <div class="form-group">
                      <label class="col-md-2 control-label" for="{{ form.cron_type.id_for_label }}">cron Type:</label>
                      <div class="col-md-4">
                          {{ form.cron_type }}
                          {{ form.cron_type.errors }}
                      </div>
                        <span class="help-block">Type of cron job. You can manually change the cron job yourself for finer levels of control</span>
                    </div>
                    <div class="form-group">
                      <label class="col-md-2 control-label" for="{{ form.cron_interval.id_for_label }}">cron Interval:</label>
                      <div class="col-md-4">
                          {{ form.cron_interval }}
                          {{ form.cron_interval.errors }}
                      </div>
                        <span class="help-block">How often to run. ex. if type=Hourly, Interval=3, then run every 3 hours</span>
                    </div>
                    <div class="form-group">
                      <label class="col-md-2 control-label" for="{{ form.cron_start.id_for_label }}">cron Start:</label>
                      <div class="col-md-4">
                          {{ form.cron_start }}
                          {{ form.cron_start.errors }}
                      </div>
                        <span class="help-block">When to start, relative to the type. If type is Hourly, Start is in minutes. If type is Daily, Start is an actual time value. ex. if type=Hourly, Interval=1, Start=15, then run every hour at 15 past</span>
                    </div>

                    <hr />
                    <button class="btn btn-primary" name="action" type="submit">Save</button>
                    <button class="btn btn-primary" id="cancelButton" type="button">Cancel</button>
                </form>
            </div>
        </div>
    </div>

<br />


{% endblock %}
