
{% extends 'layout.html' %}

{% block breadcrumbs %}
 <ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/admin/">Admin</a></li>
  <li class="active">Log for {{branch.name|upper}}</li>
</ol>
{% endblock %}

{% block content %}

    <div id="content" class="container-fluid">

        <div id="content-main">
            <h3>Last Log for {{branch.name|upper}}</h3>
            {% autoescape off %}
                <pre>
                {{ log }}
                </pre>
            {% endautoescape %}
        </div>
    </div>



{% endblock %}
