<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>
        {% block title %}
            StratoSource
        {% endblock %}
        </title>
        <script type="text/javascript">
        </script>
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/jquery-ui.css" type="text/css" />
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css" type="text/css" />
    
        <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/dashboard.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/stratosource1.1.css" />
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js" type="text/javascript"></script>
        <script src="/static/js/stratosource1.0.js" type="text/javascript"></script>
        {% block jscript %} {% endblock %}
    </head>

<body class="dashboard">

<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div style="float: right;">You are logged in as <strong>{{ user|lower }}</strong></div>
        <div id="branding">
            <h1 id="site-name" class="siteBranding">{% block page_title %} Strato<strong><i>Source</i></strong> {% endblock %}</h1>
        </div>
    </div>
    <!-- END Header -->

    <div class="breadcrumbs">
        {% block breadcrumbs %} {% endblock %}
    </div>

    {% block content %}
    content goes here
    {% endblock %}


    <div id="footer"></div>

</div>
<!-- END Container -->

</body>

</html>
