
{% extends 'layout.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">{{object.type}}/<strong>{{object.filename}}</li>
</ol>
{% endblock %}


{% block content %}

    <div id="content" class="container">

        <div id="content-main">
        <h4>Object Change History</h4>
            <div class="module">
                <table class="table table-condensed table-hover">
                        <tr>
                            <th>Branch</th>
                            <th scope="row">Element Type</th>
                            <th>Element Name</th>
                            <th>Change Type</th>
                            <th>Commit</th>
                        </tr>
                    {% for delta in deltas %}
                        <tr>
                            <td scope="row">{% ifchanged delta.commit.branch.name %}<strong>{{ delta.commit.branch.name|upper }}</strong>{% endifchanged %}</td>
                            <td>
                                {{ delta.object.el_type|title }}
                                {% if delta.object.el_subtype %}
                                - {{ delta.object.el_subtype|title }}
                                {% endif %}
                            </td>
                            <td> {{ delta.object.el_name }} </td>
                            <td> {{ delta.getDeltaType|title }} </td>
                            <td> <a href="/cgit/{{ delta.commit.branch.name }}/diff/unpackaged/{{ delta.object.type }}/{{ delta.object.filename }}?id={{ delta.commit.hash }}">{{ delta.commit.date_added }} - <strong>{{ delta.commit.comment }}</strong></a></td>
                        </tr>
                    {% empty %}
                        No Changes has been made to this object.
                    {% endfor %}
                </table>
            </div>
        </div>
        <br class="clear" />
    </div>


{% endblock %}
