
{% extends 'layout.html' %}

{% block breadcrumbs %}
 <ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/configs">Config</a></li>
  <li class="active">Rally Projects</li>
</ol>
{% endblock %}

{% block content %}

    <script type="text/javascript">
        function submitForm(){
            document.getElementById('formProjects').submit();
            return false;
        }
    </script>

    <div id="content" class="container">

        <h3>Pick a Rally project as your story source</h3>
        <div id="content-main">
            <div class="module ObjectsList">
                <form id="formProjects" name="formSettings" method="GET">
                    <table class="table-condensed table-hover">
                        <tr>
                            <th scope="row"></th>
                            <th>Rally Project</th>
                        </tr>
                        {% for project in projects %}
                        <tr>
                            <td scope="row"><input name="chkProject" type="checkbox" value="{{ project.id }}"></td>
                            <td>{{ project.name }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <div style="padding:5px;">
                        <button id="save-button" class="btn btn-primary" name="saveConfig" onclick="return submitForm();" type="button">Save</button>
                    </div>
                </form>
            </div>
        </div>
        <br class="clear" />
    </div>



{% endblock %}
