
{% extends 'layout.html' %}

{% block breadcrumbs %}
<a href="/">Home</a> -> Settings
{% endblock %}

{% block content %}

    <script type="text/javascript">
        function submitForm(){
            document.getElementById('formProjects').submit();
            return false;
        }
    </script>

    <div id="content" class="colMS">

        <div id="content-main">
            <div class="module ObjectsList">
                <form id="formProjects" name="formSettings" method="GET">
                    <table>
                        <caption>
                            <span><a href="" class="section">Settings</a></span>
                        </caption>
                        <tr>
                            <th scope="row"></th>
                            <th>Rally Project</th>
                        </tr>
                        {% for project in projects %}
                        <tr>
                            <td scope="row"><input name="chkProject" type="checkbox" value="{{ project.id }}"></td>
                            <td>{{ project.name }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <div style="padding:5px;">
                        <input name="saveConfig" onclick="return submitForm();" type="button" value="Save"/>
                    </div>
                </form>
            </div>
        </div>
        <br class="clear" />
    </div>



{% endblock %}
