
{% extends 'layout.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/releases">Releases</a></li>
  <li><a href="/release/{{ release.id }}">{{ release.name }}</a> </li>
  <li class="active">Create Release Package for {{ release.name }}</li>
</ol>
{% endblock %}

{% block jscript %}
    <script src="/static/js/cs_release_management1.0.js" type="text/javascript"></script>
    <script src="/static/js/cs_releases1.0.js" type="text/javascript"></script>
{% endblock %}

{% block content %}

    <div id="content" class="container-fluid">
        <div id="content-main">
            <form id="createPackage" name="createPackage" method="POST">{% csrf_token %}
                <div class="module">
                    <div class="section">
                            <span class="section">Create Release Package</span>
                            <span class="sectionActions">
                                <a href="#" onclick="document.forms[0].submit(); return false;">Create Package</a>
                            </span>
                    </div>
                </div>
                <div class="module" style="max-width: 1000px;">
                    <div>
                        <table style="font-weight: bold;">
                            <tr>
                                <td scope="row" style="text-align:right;">Package Name:</td>
                                <td>
                                    <input type="text" size="50" maxlength="200" name="txtName" id="txtName" value="{{branch.repo.name|capfirst}} - {{branch.name|capfirst}}, {{release.name}} Deployment"/>
                                    <input type="hidden" name="sourceBranchId" id="sourceBranchId" value="{{from_branch.id}}"/>
                                    <input type="hidden" name="releaseId" id="releaseId" value="{{ release.id }}"/>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row" style="text-align:right;">Source Environment:</td>
                                <td>
                                    {{from_branch.repo.name|capfirst}} - {{from_branch.name|capfirst}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="module ObjectsList" style="max-width: 1000px;">
                    {% for object in manifest %}
                    {% ifchanged object.type %}
                    {% if not forloop.first %}
                        </table>
                        <br/>
                    </div>
                    {% endif %}
                    <h3 class="sectionHeader">{{ object.type|title }}</h3>
                    <div id="{{ object.type|title }}List">
                        <table>
                            <tr>
                                <th scope="row" width="60px" class="align_center">Include?</th>
                                <th>Object Name</th>
                                <th>Element Type</th>
                                <th>Element Name</th>
                                <th>Stories</th>
                            </tr>
                    {% endifchanged %}
                            <tr>
                                <td class="align_center" width="60px">
                                    <input name="objId" id="chkObjId" type="checkbox" value="{{object.id}}" checked="checked"/>
                                </td>
                                <td>
                                   {% ifchanged object.filename %}<strong><a href="/object/{{object.id}}" target="_blank">{{ object.filename }}</a></strong>{% endifchanged %}
                                </td>
                                <td>
                                    {% ifchanged %}
                                        {% if object.el_type %}
                                            {{ object.el_type|title }}
                                        {% endif %}
                                        {% if object.el_subtype %}
                                            /{{ object.el_subtype|title }}
                                        {% endif %}
                                    {% endifchanged %}
                                </td>
                                <td>
                                    {% if object.el_name %}
                                        {{ object.el_name }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% for story in object.pending_stories.all %}
                                        <a href="/instory/{{story.id}}?branch_name={{branch_name}}" title="{{ story.name }}">{{ story.rally_id }}</a>
                                    {% empty %}
                                    {% endfor %}
                                </td>
                            </tr>
                    {% if forloop.last %}
                        </table>
                        <br/>
                    </div>
                    {% endif %}
                    {% empty %}
                    <div>
                        <table>
                            <tr>
                                <td scope="row" colspan="6">
                                    <strong>No objects pending.</strong>
                                </td>
                            </tr>
                        </table>
                    </div>
                    {% endfor %}
                </div>
            </form>
        </div>

    </div>
{% endblock %}
