
{% extends 'layout.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/deployment">Deployments</a></li>
  <li class="active">Deploy - {{ release_package.name }}</li>
</ol>
{% endblock %}


{% block content %}

    <div id="content" class="container">

        <div id="content-main">
        {% if branches|length < 2 %}
            <h3>At least 2 branches must be defined in order to perform a deployment - a source and a destination</h3>
        {% else %}
            <form class="form-horizontal form-condensed form-hover" id="releaseDeploy" name="releaseDeploy" method="POST">{% csrf_token %}
                <div class="form-group">
                    <label class="col-md-3 form-check-label" for="keep_generated">Keep generated package?</label>
                    <input class="form-check-input" type="checkbox" id="keep_generated" name="keep_generated" value="0"/>
                </div>
                <div class="form-group">
                    <label class="col-md-3 form-check-label" for="test_only">Only run tests?</label>
                    <input class="form-check-input" type="checkbox" id="test_only" name="test_only" value="0"/>
                </div>
                <div class="form-group">
                    <label class="col-md-3 custom-select-label" for="target_env">Target environment</label>
                    <select class="custom-select" name="target_env" id="target_env">
                        <option value="none">-- Select a Branch --</option>
                        {% for br in branches %}
                            {% if br.id != release_package.source_environment.id %}
                            <option value="{{br.id}}">{{br.repo.name}} - {{br.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>

                </div>
                <button class="btn btn-primary" type="submit">Begin Deployment</button>
            </form>
        {% endif %}
        </div>
    </div>
{% endblock %}
