
{% extends 'layout.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/releases">Releases</a></li>
  <li><a href="/release/{{ release.id }}">{{ release.name }}</a> </li>
  <li class="active">Create Release Package for {{ release.name }}</li>
</ol>
{% endblock %}

{% block content %}

    <div id="content" class="container">
        <div id="content-main">
            <form class="form-inline form-condensed form-hover" id="createPackage" name="createPackage" method="POST">{% csrf_token %}
                <input type="hidden" name="sourceBranchId" id="sourceBranchId" value="{{from_branch.id}}"/>
                <input type="hidden" name="releaseId" id="releaseId" value="{{ release.id }}"/>
                <div class="panel panel-info">
                    <div class="panel-body">
                        <div class="form-group">
                          <label class="control-label" for="txtName">Package Name:</label>
                          <input class="form-control" type="text" size="50" maxlength="200" name="txtName" id="txtName" value="{{from_branch.name}} {{release.name}} Deployment"/>
                        </div>
                        <button id="save-button" class="btn btn-primary form-control" name="action" type="submit" >Create Package</button>
                    </div>
                </div>
                <div class="module ObjectsList" style="max-width: 1000px;">
                    {% for object in manifest %}
                    {% ifchanged object.type %}
                    {% if not forloop.first %}
                        </table>
                        <br/>
                    </div>
                    {% endif %}
                    <h3 class="sectionHeader">{{ object.type|title }}</h3>
                    <div id="{{ object.type|title }}List">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th scope="row" width="60px" class="align_center">Include?</th>
                                    <th>Object Name</th>
                                    <th>Element Type</th>
                                    <th>Element Name</th>
                                    <th>Stories</th>
                                </tr>
                            </thead>
                            <tbody>
                    {% endifchanged %}
                            <tr>
                                <td class="align_center" width="60px">
                                    <input name="objId" id="chkObjId" type="checkbox" value="{{object.id}}" checked="checked"/>
                                </td>
                                <td>
                                   {% ifchanged object.filename %}<strong><a href="/object/{{object.id}}" target="_blank">{{ object.filename }}</a></strong>{% endifchanged %}
                                </td>
                                <td>
                                    {% ifchanged %}
                                        {% if object.el_type %}
                                            {{ object.el_type|title }}
                                        {% endif %}
                                        {% if object.el_subtype %}
                                            /{{ object.el_subtype|title }}
                                        {% endif %}
                                    {% endifchanged %}
                                </td>
                                <td>
                                    {% if object.el_name %}
                                        {{ object.el_name }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% for story in object.pending_stories.all %}
                                        <a href="/instory/{{story.id}}?branch_name={{branch_name}}" title="{{ story.name }}">{{ story.rally_id }}</a>
                                    {% empty %}
                                    {% endfor %}
                                </td>
                            </tr>
                    {% if forloop.last %}
                        </tbody>
                        </table>
                        <br/>
                    </div>
                    {% endif %}
                    {% empty %}
                    <div>
                        <table>
                            <tr>
                                <td scope="row" colspan="6">
                                    <strong>No objects pending.</strong>
                                </td>
                            </tr>
                        </table>
                    </div>
                    {% endfor %}
                </div>
            </form>
        </div>

    </div>
{% endblock %}
