                            {% for task in tasks %}
                                <tr id="{{ task.id }}">
                                    <td class="align_left">
                                        {% if not readonly %}
                                        <select name='cboType' onchange="updateTaskType('{{ release.id }}', '{{ task.id }}', this.options[this.selectedIndex].value, '{{ branch.id }}', '{{ task.id }}')">
                                            <option value="100" {% if task.task_type == 100 %}selected{% endif %}>-- UNSPECIFIED --</option>
                                            <option value="0" {% if task.task_type == 0 %}selected{% endif %}>MANIFEST</option>
                                            <option value="20" {% if task.task_type == 20 %}selected{% endif %}>PRE-VALIDATION</option>
                                            <option value="40" {% if task.task_type == 40 %}selected{% endif %}>PRE-RELEASE</option>
                                            <option value="60" {% if task.task_type == 60 %}selected{% endif %}>RELEASE</option>
                                            <option value="80" {% if task.task_type == 80 %}selected{% endif %}>POST-RELEASE</option>
                                        </select>
                                        {% else %}
                                            {{ task.task_type_name }}
                                        {% endif %}
                                    </td>
                                    <td style="white-space:normal;" id="{{ task.id }}Name" {% if not readonly %}ondblclick="editTask('{{ task.id }}');{% endif %} return false;">{{ task.name }}</td>
                                    {% if type == 'r' %}
                                    <td class="align_center">
                                        {% if task.story %}
                                            <a href="/instory/{{ task.story.id }}">{{task.story.rally_id}}</a>
                                        {% endif %}
                                    </td>
                                    {% endif %}
                                    <td class="align_left">
                                        {% if not readonly %}
                                        <select name='cboUser' onchange="updateTaskUser('{{ release.id }}', '{{ task.id }}', this.options[this.selectedIndex].value, '{{ branch.id }}', '{{ task.id }}')">
                                            <option value="">-- Anyone --</option>
                                            {% for u in users %}
                                            <option value="{{ u.id }}" {% if task.user.id == u.id %}selected{% endif %}>{{ u.name }}</option>
                                            {% endfor %}
                                        </select>
                                        {% else %}
                                            {{ task.user.name }}
                                        {% endif %}
                                    </td>
                                    {% for branch in branches %}
                                    <td class="align_center">
                                        <input type="checkbox" onchange="flagTask('{{ release.id }}', '{{ task.id }}', this.checked, '{{ branch.id }}')" name="{{ task.id }}" {% if branch.tid in task.done_in_branch_list %}checked{% endif %}>
                                    </td>
                                    {% endfor %}
                                    {% if not readonly %}
                                    <td class="align_center" style="white-space:nowrap;">
                                        <a href="#" onclick="saveTask('{{ task.id }}','{{ branch.id }}'); return false;" style="display:none;" id="save{{ task.id }}">Save</a> 
                                        <a href="#" onclick="cancelEdit('{{ task.id }}'); return false;" style="display:none;" id="cancel{{ task.id }}">Cancel</a> 
                                        <a href="#" onclick="editTask('{{ task.id }}'); return false;" style="display:inline;" id="edit{{ task.id }}">Edit</a> 
                                        <a href="#" onclick="deleteTask('{{ task.id }}'); return false;" style="display:inline;" id="delete{{ task.id }}">Delete</a>
                                    </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
