
{% extends 'layout.html' %}
{% load myfilters %}

{% block breadcrumbs %}
<a href="/">Home</a> -> Unreleased Code for {{repo_name|upper}} - {{branch_name|upper}}
{% endblock %}

{% block jscript %}
    <script src="/static/js/cs_unreleased_code_management1.1.js" type="text/javascript"></script>
{% endblock %}

{% block content %}

    <div id="content" class="colMS">

        <div align="center" id="content-main" style="white-space: nowrap; padding: 5px; margin-bottom: 10px;">
            <span>Key:</span> 
            <span class="line_item_c" style="border: 1px; border-style: solid;">&#x21B7; - Repeated Action</span>
            <span class="line_item_c" style="border: 1px; border-style: solid;"><a href="#">Changed</a></span>
            <span class="line_item_p" style="border: 1px; border-style: solid;"><a href="#">Release Pending</a></span>
            <span class="line_item_e" style="border: 1px; border-style: solid;"><a href="#">Release Pending & Changed Again (Conflict)</a></span>
        </div>
       
        <div id="content-main">            
            <div class="sectionBase">
                <span class="section">Find Changed Objects in {{repo_name|upper}} - {{branch_name|upper}}</span>
                <span class="sectionActions">
                    <!-- <span id="markAllReleased"><a href="?releaseAll=true" onclick="return confirm('This cannot be reversed and should only be done after an environment has been refreshed. All tracking will start from scratch. Are you VERY VERY sure?');">Mark ALL Released</a></span> |-->
                    <span id="ignoreSelected"><a href="#" onclick="if (confirm('Are you sure?')) {ignoreSelected();} return false;">Ignore Selected Objects</a></span> |
                    <a href="#" onclick="promptStoryAdd(); return false;">Associate Selected Objects to a Story</a>
                </span>
            </div>
            <div class="actionBar">
                <div>
                    <div style="height:50px; display: inline-block;  text-align: center;">
                        <span class="sectionHeader" style="padding: 5px; margin-bottom: 5px; width: 100%; text-align: center; display: inline-block;">
                            <strong>Filter</strong>
                        </span>
                        <span style="text-align: left; display: inline-block;">
                            Modified: <input name="startDate" type="text" id="startDate" value="{{ startDate|date:"m/d/Y" }}" style="width: 60px;"> to <input name="endDate" type="text" id="endDate" value="{{ endDate|date:"m/d/Y" }}" style="width: 60px;"> <strong>&nbsp;+&nbsp;</strong>
                            Contains: <input type="text" id="txtSearch" id="txtSearch" value="{{ search }}"/> <strong>&nbsp;+&nbsp;</strong>
                            <span>
                                Type:
                                <select name="cboType" id="cboType">
                                    <option value="">-- All Types --</option>
                                    {% for type in objectTypes %}
                                    <option value="{{ type }}" {% if type == selectedType %}selected{% endif %}>{{ type|capfirst }}</option>
                                    {% endfor %}
                                </select>
                            </span>  <strong>&nbsp;+&nbsp;</strong>
                            <span>
                                Modified by:
                                <select name="cboUserName" id="cboUserName">
                                    <option value="">-- Anyone --</option>
                                    {% for user in users %}
                                    <option value="{{ user }}" {% if user == username %}selected{% endif %}>{{ user }}</option>
                                    {% endfor %}
                                </select>
                            </span> 
                            <input type="button" onclick="refreshFilters();" value="Search!">
                        </span>
                    </div>
                    {% if objects|length > 0 %}
                    <div style="height:50px; display:inline-block; text-align: center; float:right;">
                        <span class="sectionHeader" style="padding: 5px; margin-bottom: 5px; width: 100%; text-align: center; display: inline-block;">
                            <strong>Select</strong>
                        </span>
                        <span style="display: inline-block;">
                            Matching <a href="http://www.javascriptkit.com/javatutors/redev2.shtml" target="_blank">REGEX:</a> <input type="text" id="filter" name="filter"> <input type="button" onclick="selectFiltered();" value="GO"/> <strong>&nbsp;/&nbsp;</strong>
                            All: <input type="checkbox" id="chkAll" onchange="flagAll(this.checked);"/>
                        </span>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="module ObjectsList">
                {% for object in objects %}
                {% ifchanged object.type %}
                {% if not forloop.first %}
                    </table>
                    <br/>
            </div>
            {% endif %}
            <h3 class="sectionHeader">
                <a href="#" onclick="toggle('{{ object.type|title }}List'); toggle('max{{ object.type|title }}'); toggle('min{{ object.type|title }}'); return false;"><img id="min{{ object.type|title }}" src="/static/images/minimize.png" height="20" width="20" style="display:none;"/><img id="max{{ object.type|title }}" src="/static/images/maximize.png" height="20" width="20"/> {{ namestl|lookup:object.type|title }}</a>
                <span class="sectionHeaderActions">Select all in section: <input type="checkbox" onclick="selectSection('{{ object.type|title }}',this.checked)"/></span>
            </h3>
              <div id="{{ object.type|title }}List" style="display:none;">
                <table>
                    <tr>
                        <th scope="row" style="width: 32%;">Object Name</th>
                        <th style="width: 5%;">Element Type</th>
                        <th style="width: 33%;">Element Name</th>
                        <th style="width: 10%;">Changes</th>
                        <th style="width: 5%;">Stories</th>
                        <th style="width: 5%;" colspan="2">Actions</th>
                        <th style="width: 5%;">Include</th>
                    </tr>
            {% endifchanged %}
                    <tr class="line_item_{{ object.release_status }}">
                        <td style="white-space: normal;">
                           {% ifchanged object.filename %}<strong><a href="/object/{{object.id}}" target="_blank">{{ object.filename }}</a></strong>{% endifchanged %}
                        </td>
                        <td>
                            {% ifchanged %}
                                {% if object.el_type %}
                                    {{ object.el_type|title }}
                                {% endif %}
                                {% if object.el_subtype %}
                                    /{{ object.el_subtype|title }}
                                {% endif %}
                            {% endifchanged %}
                        </td>
                        <td style="white-space: normal;">
                            {% if object.el_name %}
                                {{ object.el_name }}
                            {% endif %}
                        </td>
                        <td>
                            <a href="#" onclick="return false;" title="{% autoescape off %}{{deltaMap|lookup:object}}{% endautoescape %}">See Changes</a>
                        </td>
                        <td>
                            {% for story in object.pending_stories.all %}
                                <a href="/instory/{{story.id}}?repo_name={{repo_name}}&branch_name={{branch_name}}" title="{{ story.name }}">{{ story.rally_id }}</a>
                            {% empty %}
                            {% endfor %}
                        </td>
                        <td align="center" style="white-space: nowrap;">
                            {% if not object.pending_stories.all %}
                                <a href="#" onclick="ignoreItem('{{ object.id }}',false); return false;">Ignore</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if object.release_status = 'e' %}
                            <a href="#" onclick="ignoreItem('{{ object.id }}',true); return false;">Expected Change</a>
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </td>
                        <td align="center">
                            <input name="chkItem" id="{{ object.id }}" type="checkbox" value="{{ object.type|title|addslashes }}/{{ object.filename|addslashes }}{% if object.el_type %}: {{ object.el_type|title|addslashes }}{% endif %}{% if object.el_subtype %}/{{ object.el_subtype|title|addslashes }}{% endif %}{% if object.el_name %}: {{ object.el_name|addslashes }}{% endif %}" unchecked/>
                        </td>
                    </tr>
            {% if forloop.last %}
                </table>
                <br/>
            </div>
            {% endif %}
            {% empty %}
            <div>
                <table>
                    <tr>
                        <td scope="row" colspan="6" style="height:50px; text-align: center;">
                            <strong><span class="biggesttext">
                            {% if go %}
                                No objects found matching search filters.
                            {% else %}
                                Select filters then click "Search!" to find Objects to tag.
                            {% endif %}
                            </span></strong>
                        </td>
                    </tr>
                </table>
            </div>
            {% endfor %}
        </div>
        <br class="clear" />
    </div>
    <div style="display:none;">
        <div id="storyManager" title="Story Manager" style="text-align: center;">
            <div>Please select the following:</div>
            <div>&nbsp;</div>
            <table align="center">
                <tr>
                    <td class="label">Sprint:</td>
                    <td>&nbsp;&nbsp;</td>
                    <td>
                        <select name="sprintId" id="sprintId" style="width:450px;">
                            <option value="None" selected>None</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label">Story:</td>
                    <td>&nbsp;&nbsp;</td>
                    <td>
                        <select name="storyId" id="storyId" style="width:450px;">
                            <option value="" selected>None</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label">New Story Name:</td>
                    <td>&nbsp;&nbsp;</td>
                    <td><input type="text" name="storyName" id="storyName" value=""></td>
                </tr>
                <tr>
                    <td class="label">New Story External ID*:</td>
                    <td>&nbsp;&nbsp;</td>
                    <td><input type="text" name="storyRallyId" id="storyRallyId" value=""></td>
                </tr>
                <tr>
                    <td class="label">New Story URL (optional):</td>
                    <td>&nbsp;&nbsp;</td>
                    <td><input type="text" name="storyURL" id="storyURL" value=""></td>
                </tr>
                <tr>
                    <td colspan="3" class="smalltext">* Story External Id is required to create a story</td>
                </tr>
                <tr>
                    <td colspan="3" id="itemList"></td>
                </tr>
            </table>
        </div>
    </div>


{% endblock %}
