{% extends 'layout.html' %}

{% block breadcrumbs %}
 <ol class="breadcrumb">
  <li><a href="/">Home</a></li>
     <li><a href="/repos">Repositories</a></li>
  <li class="active">Environments</li>
</ol>
{% endblock %}


{% block content %}

    <div id="content" class="container-fluid">

        <div id="content-main">
            <div class="module">
                <table class="table table-condensed table-hover">
                    <caption><a href="" class="section">Branches</a></caption>
                    {% for branch in branches %}
                        <tr>
                            <td scope="row" style="text-align: left;">
                                <a href="/commits/{{branch.id}}">
                                  {{ branch.name }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
        <br class="clear" />
    </div>


{% endblock %}