[mysqld]
default-storage-engine=InnoDB
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
key_buffer_size=64M
table_open_cache=256
sort_buffer_size=4M
read_buffer_size=1M

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
key_buffer_size=64M
table_open_cache=256
sort_buffer_size=4M
read_buffer_size=1M

